
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

*{
    
    margin: 0;
    padding: 0;
  
    box-sizing: border-box;
    border-radius: 6px;
}


body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(t.jpg);
    background-size: cover;
    text-align: center;

}
.hero1{
    position: relative;
    width: 400px;
    height: 500px;
    background: white;
    padding: 40px 60px;
}
header{
    font-size: 50px;
    font-family: 'Otomanopee One';
    margin-bottom: 30px;
    margin-left: 20px;
    padding: 0 10px;
    width: 200px;
    background: #F2F3F4 ;
    
}
.input1, form .button1{
    margin: 28px 0;
    position: relative;
    height: 40px;
    width: 100%;
   
    

}
.input1 input{
    height: 100%;
    width: 100%;
    border: 1px solid silver;
    padding-left: 15px;
    outline: none;
    font-size: 15px;
    transition: .4s;
    

}
input:focus{
    border: 1px solid #1DA1F2;
}

.input1 label{
    position:absolute ;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    pointer-events: none;
    color: grey;
    font-size: 18px;
    transition: .4s;
    
} 
input:focus ~ label,
 input:valid ~ label{
    transform: translateY(-33px);  
    background: white;
    font-size: 16px;
    color: #1DA1F2;  
    

}
form .button1{
    margin-top: 30px;

}
 .button1 button{
    
        padding:20px 60px ;
        border: none;
        height: 50%;
        width: 60%;
        margin-top: 1rem;
        border-radius: 8px;
        font-weight: bold;
        background: #03001e;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #fdeff9, #ec38bc, #7303c0, #03001e);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #fdeff9, #ec38bc, #7303c0, #03001e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        cursor: pointer;
        position: relative;
        transition: all 0.35s;
        outline: none;
       
       z-index: 0;
}
button a{
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 1rem 
    
}
